*.sublime-*
*.ini
*.zip
*.bak

# user
*.user.ahk
*.user.md
*.user.ignores

_config.yaml

/AutoHotKey/
/docs/README.html
*.nupkg
node_modules
# btsync
.sync
*.!sync

# modules
CapslockX-LoadModules.ahk
CapsLockX-LoadModules.ahk
CapsLockX-ModulesRunner.ahk
CapsLockX-ModulesLoader.ahk
*.!sync
