# sync services
.sync
*.!sync

# generated
*.nupkg
node_modules
/docs/README.html
*.sublime-*
*.zip
*.bak
CapslockX-LoadModules.ahk
CapsLockX-LoadModules.ahk
CapsLockX-ModulesRunner.ahk
CapsLockX-ModulesLoader.ahk
*.!sync
Tools/new-version*.txt

# user
*.ini
*.user.ahk
*.user.md
*.user.ignores
*.user.ignores.txt