*.sublime-*
*.ini
*.zip
*.bak

*.user.ahk
*.user.md
*.user.ignores

_config.yaml

/AutoHotKey/
/docs/README.html
*.nupkg
node_modules
# btsync
.sync
*.!sync

CapslockX-LoadModules.ahk
CapsLockX-LoadModules.ahk
