# @deprecated use semantic-release
name: npm-publish
on:
  push:
    tags:
      - "v*"
jobs:
  npm-publish:
    if: github.repository == 'snolab/CapsLockX'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # pnpm install
      - uses: pnpm/action-setup@v2
        with:
          version: 8.10.2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      # npm publish
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
